/* Generic top-level elements */
html, body {
   height: 100%;
   min-height: 100%;
   font-family: Helvetica, Arial, sans-serif;
   margin: 0;
   padding: 0;
}

/* Layout top-level elements */
h1 {
   font-size: 14px;
   line-height: 1em;
   min-width: 99%;
   max-width: 100%;
   max-height: 5%;
   margin: 0;
   padding: 5px;
   background-color: #FF9933;
}

#main {
    height: 100%;
}

#messages {
   margin:0;
   height: 100%;
   width: 68%;
   float: left;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0 3px;
}

#widgets {
   margin-top: 5px;
   width: 25%;
   float: left;
}

#info {
    font-size: 10px;
}

/* Timeline styles */
#messages li {
   margin: 0;
   border-bottom: 1px solid #d8d8d8;
   list-style-type: none;
   padding: 3px;
   float: left;
   width: 100%;
   clear: both;
   font-size: 14px;
}

/* Generic form elements */
form ol {
   list-style-type: none;
   padding: 0;
}

form ol li {
   padding: 0;
   margin-bottom: 0.5em;
}

fieldset {
   border: none;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FF9933;
}

fieldset legend {
   background-color: #cdd;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   padding: 2px 5px;
}

label {
   display: block;
   font-size: 80%;
   font-weight: bold;
}

label + input {
   font-size: 18px;
}

input#name {
   width: 100%;
}